.container-contact-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px;

  @media (max-width: 800px) {
    flex-direction: column;
  }

}

.container-contact-email {
  display: flex;
  align-items: center;
  gap: 8px;

  @media (max-width: 800px) {
    justify-content: center;
  }

}

.icon {
  width: 50px;
}

.container-image {
  width: 200px;
  height: 200px;
  border-radius: 4px;


  @media (max-width: 800px) {
    width: 150px;
    height: 150px;
  }


}

.container-contact-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 700px;
  width: 100%;
}
