.container-contact-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px;
}

.container-contact-email {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 50px;
}

.container-image {
  width: 200px;
  height: 200px;
  border-radius: 4px;
}

.container-contact-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 700px;
  width: 100%;
}
