<div class="container-contact-info">
  <div class="container-image">
    <ng-lottie [options]="options"></ng-lottie>
  </div>
  <div>
    <div class="container-contact-header">
      <div class="wrapper">
        <h1>Contato</h1>
        <p>Aqui são uma das formar de entrar em contato comigo 😁</p>
      </div>
      <div class="container-contact-email">
        <img
          class="icon"
          src="../../../assets/icons/gmail-icon.svg"
          alt="gmail-icon"
        />
        <p>luizftp25&#64;gmail.com</p>
      </div>
    </div>
  </div>
</div>
