<div class="container-about-me">
  <div class="about-me-info">
    <h1>Sobre mim</h1>
    <p>
      Estudo desenvolvimento desde 2021, em setembro de 2022 tive a minha
      primeira oportunidade de participar de um treinamento para virar
      <strong>front-end trainee</strong>. o treinamento teve fim em setembro de
      2022, aonde eu conseguir passar e também minha primeira vaga como
      desenvolvedor front-end. atualmente busco recolocação profissional.
      Utilizo em meus projetos principalmente tecnologias para o desenvolvimento
      <strong>front-end</strong>, com foco no
      <strong>javascript</strong>,<strong>typescript</strong>,<strong
        >React.js</strong
      >
      e <strong>Angular</strong>. Mas também dei um start nos meus estudos
      <strong>back-end</strong>com <strong>ruby</strong>
      <strong> nodejs</strong> e .
    </p>
    <p>
      Sou apaixonado por videogames e pixel art, a musica faz parte do meu dia a
      dia, quando estou nos meus projetos pessoais, estudando ou praticando
      pixel art. espero um dia conseguir utilizar tecnologia para ajudar
      pessoas.
    </p>
  </div>
  <div class="container-hard-skills">
    <h1>Hard Skils</h1>
    <div class="container-hard-skills-logo">
      <div class="icon-wrapper">
        <img src="../../../assets/icons/angular-icon.svg" alt="angular icon" />
        <p>angular</p>
      </div>
      <div class="icon-wrapper">
        <img
          src="../../../assets/icons/javascript-icon.svg"
          alt="javascript icon"
        />
        <p>javascript</p>
      </div>
      <div class="icon-wrapper">
        <img src="../../../assets/icons/react-icon.svg" alt="react icon" />
        <p>react</p>
      </div>
      <div class="icon-wrapper">
        <img
          src="../../../assets/icons/typescript-icon.svg"
          alt="typescript icon"
        />
        <p>typescript</p>
      </div>
      <div class="icon-wrapper">
        <img src="../../../assets/icons/git-icon.svg" alt="git icon" />
        <p>git</p>
      </div>
      <div class="icon-wrapper">
        <img src="../../../assets/icons/css-icon.svg" alt="css icon" />
        <p>CSS</p>
      </div>
      <div class="icon-wrapper">
        <img src="../../../assets/icons/html-icon.svg" alt="html icon" />
        <p>HTML</p>
      </div>
      <div class="icon-wrapper">
        <img src="../../../assets/icons/nodejs-icon.svg" alt="nodejs icon" />
        <p>nodejs</p>
      </div>
    </div>
  </div>
</div>
