.container-about-me {
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-around;
  gap: 24px;
  background-color: #001424;
  box-shadow: 0 2px 4px rgba(0, 7, 9, 0.5);
  border: 1px solid #0050A1;

  border-radius: 4px;
}

.about-me-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  gap: 16px;
}

.container-hard-skills {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-hard-skills-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.icon-wrapper>img {
  border-radius: 10px;
  width: 60px;
  background-color: aliceblue;
}


.icon-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
