.container-header {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 7, 9, 0.5);
  border-bottom: 1px solid var(--primary-border-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  width: 100%;
}

.container-name>h1 {
  font-size: 36px;
  font-weight: 600;
}

.container-navbar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-navbar>button {
  background-color: transparent;
  cursor: pointer;
  padding: 16px;
  font-size: 20px;
}


/* Responsivo */

.container-header {
  @media (max-width: 475px) {
    flex-direction: column;
  }
}
