.container-header {
  background-color: #001424;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 7, 9, 0.5);
  border: 1px solid #0050A1;
  border-radius: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 20px;
  width: 100%;
}

.container-name>h1 {
  font-size: 36px;
  font-weight: 600;
}

.container-navbar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-navbar>button {
  background-color: transparent;
  cursor: pointer;
  padding: 16px;
  font-size: 20px;
}
