<div class="container-introduction">
  <div class="container-image">
    <img src="{{ githubUser.avatarUrl }}" alt="" />
  </div>
  <div class="container-info">
    <div class="wrapper">
      <h1>Olá</h1>
      <p>
        Me chamo Luiz Felipe Thomaz Preto. Sou estudante de
        <strong>Sistemas de informação</strong>, desenvolvedor
        <strong>Front-end Junior</strong>, apaixonado por jogos, músicas e pixel
        arts.
      </p>
    </div>
    <div class="container-contatc">
      <a target="_blank" href="https://www.linkedin.com/in/luiz-preto/">
        <img
          class="icon"
          src="assets/icons/linkedin-icon.svg"
          alt="linkedin icon"
        />
      </a>
      <a target="_blank" href="{{ githubUser.htmlUrl }}">
        <img
          class="icon"
          src="assets/icons/github-icon.svg"
          alt="github icon"
        />
      </a>
    </div>
  </div>
</div>
