.container-introduction {
  width: 100%;
  max-width: 1000px;
  display: flex;
  gap: 24px;
  padding: 20px;
}

@keyframes moveBorder {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(4px);
  }

  100% {
    transform: translateX(0px);
  }
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #6f42c1 0%, #133f61 100%);
  padding: 2px;
  border-radius: 20px;
}

.container-image>img {
  width: 200px;
  height: 170px;
  background: #000709;
  padding: 4px;
  border-radius: 20px;
}

.container-image>img:hover {
  animation: moveBorder 2s none;
}

.container-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 700px;
  width: 100%;
}

.container-contact {
  display: flex;
  gap: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 4px;
}
