<div class="container-projects-lists">
  <h1>Meus projetos</h1>
  <p>
    Esse são alguns dos meus projetos pessoais que estão hospedados na netlify
  </p>
  <ul class="container-lists">
    <li
      *ngFor="let repository of githubUserRepos"
      class="container-lists-items animated-element"
    >
      <a
        class="project-link"
        href="{{ repository.homepage }}"
        target="_blank"
        >{{ repository.name }}</a
      >
      <p>{{ repository.description }}</p>
      <ul class="container-topic-list">
        <li *ngFor="let topic of repository.topics">
          {{ topic }}
        </li>
      </ul>
    </li>
  </ul>
</div>
