<div class="container-projects-lists">
  <h1>Meus projetos</h1>
  <p>
    Esse são alguns dos meus projetos pessoais que estão hospedados na netlify
  </p>
  <ul class="container-lists">
    <li class="container-lists-items animated-element">
      <a class="project-link" href="#"> Nome dos projetos </a>
      <p>project description</p>
    </li>
    <li class="container-lists-items animated-element">
      <a class="project-link" href="#"> Nome dos projetos </a>
      <p>project description</p>
    </li>
    <li class="container-lists-items animated-element">
      <a class="project-link" href="#"> Nome dos projetos </a>
      <p>project description</p>
    </li>
  </ul>
</div>
